html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.header {
  background-color: white;
  height: 15%;
  margin: 0px;
  left: 0;
  top: 0;
  position: fixed;
  width: 100%; }

.logo {
  height: 15vh; }

.footer {
  background-color: white;
  height: 15%;
  left: 0;
  bottom: 0;
  position: fixed;
  width: 100%;
  text-align: right;
  font-family: "Hind Siliguri", sans-serif;
  color: #380C2A; }
  .footer a {
    font-size: 1em;
    color: #380C2A; }

.footer-text {
  margin-top: 3vh;
  margin-right: 2vh;
  display: flex;
  align-items: center;
  justify-content: flex-end; }

@media only screen and (max-width: 320px) {
  .footer-text {
    margin-top: 2vh; } }
@media only screen and (max-width: 320px) {
  #escape {
    font-size: 0.8em; }

  #start {
    margin-top: 8% !important;
    font-size: 1.2em; } }
@media only screen and (min-width: 360px) {
  #start {
    margin-top: 6% !important; } }
@media only screen and (min-width: 412px) {
  #start {
    margin-top: 4% !important; } }
#escape {
  float: right;
  margin-top: 5vh;
  margin-right: 4vw;
  background-color: #380C2A;
  font-family: "Hind Siliguri", sans-serif;
  font-size: 1em; }

#start {
  background-color: #380C2A;
  margin-top: 10%;
  font-family: "Hind Siliguri", sans-serif;
  font-size: 1.5em;
  height: 0%;
  text-align: center; }

#finish-survey {
  background-color: #380C2A !important;
  margin-top: 5%; }

.welcome-text {
  overflow: hidden;
  text-align: center;
  margin-top: 17vh;
  width: 100%; }

.welcome {
  font-size: 1em;
  padding: 0 4%;
  text-align: center;
  font-family: "Hind Siliguri", sans-serif;
  color: white;
  font-size: 2em;
  padding-bottom: 5%; }

.privacy-1 {
  font-size: 1em;
  padding: 0 4%;
  text-align: center;
  font-family: "Hind Siliguri", sans-serif;
  color: white; }

.privacy-2 {
  font-size: 1em;
  padding: 0 4%;
  text-align: center;
  font-family: "Hind Siliguri", sans-serif;
  color: white;
  margin-top: 2%; }

.privacy-3 {
  font-size: 1em;
  padding: 0 4%;
  text-align: center;
  font-family: "Hind Siliguri", sans-serif;
  color: white;
  margin-top: 2%; }

@media only screen and (min-width: 360px) {
  .privacy-1, .privacy-2, .privacy-3 {
    font-size: 1.2em; }

  .privacy-2, .privacy-3 {
    margin-top: 3%; }

  .welcome.text {
    margin-top: 15vh; } }
@media only screen and (min-width: 412px) {
  .privacy-1, .privacy-2, .privacy-3 {
    font-size: 1.35em; }

  .privacy-2, .privacy-3 {
    margin-top: 4%; } }
@media only screen and (max-width: 320px) {
  .welcome-text {
    margin-top: 17vh; }

  .welcome {
    font-size: 1em;
    padding: 0 4%;
    text-align: center;
    font-family: "Hind Siliguri", sans-serif;
    color: white;
    font-size: 1.8em;
    padding-bottom: 5%; }

  .privacy-1 {
    font-size: 1em;
    padding: 0 4%;
    text-align: center;
    font-family: "Hind Siliguri", sans-serif;
    color: white;
    font-size: 1em; }

  .privacy-2 {
    font-size: 1em;
    padding: 0 4%;
    text-align: center;
    font-family: "Hind Siliguri", sans-serif;
    color: white;
    font-size: 1em;
    margin-top: 2%; }

  .privacy-3 {
    font-size: 1em;
    padding: 0 4%;
    text-align: center;
    font-family: "Hind Siliguri", sans-serif;
    color: white;
    font-size: 1em;
    margin-top: 2%; } }
.survey-page {
  display: flex;
  visibility: hidden;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 0vh;
  width: 100vw; }

.question-page-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center; }

.question-carousel {
  height: 60%;
  width: 80%;
  background: #FAFAFA;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 2px 0px rgba(0, 0, 0, 0.24);
  border-radius: 3px;
  text-align: center;
  justify-content: center;
  align-items: center; }

.question {
  padding: 20px;
  height: 100%;
  width: 100%;
  text-align: center;
  font-size: 1.5em; }

.underline {
  margin-top: 10%;
  width: 100%;
  border-bottom: 1px solid #380C2A; }

.yellow-button {
  background-color: #F3D56A !important;
  margin-top: 60px;
  margin-left: 30px;
  width: 55.5px;
  height: 55.5px;
  border-radius: 50%;
  text-align: center;
  letter-spacing: .5px;
  border: none;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 2px 0px rgba(0, 0, 0, 0.24);
  position: relative;
  z-index: 999;
  display: inline-block; }
  .yellow-button i {
    height: 55.5px;
    width: 55.5px;
    font-size: 1.6rem;
    line-height: 55.5px;
    width: inherit;
    display: inline-block;
    text-align: center;
    color: #fff; }

.purple-button {
  background-color: #380C2A !important;
  margin-top: 60px;
  margin-right: 30px;
  width: 55.5px;
  height: 55.5px;
  border-radius: 50%;
  text-align: center;
  letter-spacing: .5px;
  border: none;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 2px 0px rgba(0, 0, 0, 0.24);
  position: relative;
  z-index: 999;
  display: inline-block; }
  .purple-button i {
    height: 55.5px;
    width: 55.5px;
    font-size: 1.6rem;
    line-height: 55.5px;
    width: inherit;
    display: inline-block;
    text-align: center;
    color: #fff; }

.add-comment {
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 0.5em;
  color: #380C2A;
  text-align: center; }

.modal-header {
  color: #380C2A; }

.modal-textbox {
  color: #380C2A; }

@media only screen and (max-width: 320px) {
  .question {
    font-size: 1.3em; } }
.results-page {
  display: none; }
  .results-page p, .results-page h5 {
    color: white;
    padding: 1rem 1rem 0px 1rem !important; }

.bottom-text {
  margin-bottom: 1rem !important; }

.survey-results {
  margin-top: 15vh; }

.results-icons {
  color: white !important; }

#icon-prefix {
  color: white; }

.validate {
  color: white; }

.collapsible-body li {
  color: white;
  padding: 1rem 1rem 0px 1rem;
  font-weight: 900; }

.bold {
  font-weight: 900; }

.input-field.col.s6, .input-field.col.s12 {
  padding-left: 0px !important; }

#form-button {
  margin-left: 33vw !important;
  background-color: #380C2A !important; }

.materialize-textarea {
  color: white; }

body {
  font-family: "Hind Siliguri", sans-serif;
  background-color: #5F3350; }

/*# sourceMappingURL=style.css.map */
