@media only screen and (max-width: 320px) {
  #escape {
    font-size: 0.8em;
  }
  #start {
    margin-top: 8% !important;
    font-size: 1.2em;
  }
}

@media only screen and (min-width: 360px) {
  #start {
    margin-top: 6% !important;
  }
}

@media only screen and (min-width: 412px) {
  #start {
    margin-top: 4% !important;
  }
}

#escape {
  float: right;
  margin-top: 5vh;
  margin-right: 4vw;
  background-color: $dark-purple;
  font-family: $main-font;
  font-size: 1em;
}

#start {
  background-color: #380C2A;
  margin-top: 10%;
  font-family: $main-font;
  font-size: 1.5em;
  height: 0%;
  text-align: center;
}

#finish-survey {
  background-color: $dark-purple!important;
  margin-top: 5%;
}
