#escape {
  float: right;
  margin-top: 5vh;
  margin-right: 4vw;
  background-color: $dark-purple;
  font-family: $main-font;
  font-size: 1em;
}

#start {
  background-color: #380C2A;
  margin-top: 10%;
  font-family: "Hind Siliguri", sans-serif;
  font-size: 24px;
  padding: 3%;
  height: 0%;
  text-align: center;
}
