#escape {
  float: right;
  margin-top: 5vh;
  margin-right: 4vw;
  background-color: $dark-purple;
  font-family: $main-font;
  font-size: 1em;
}

#start {
  background-color: $dark-purple;
  margin-top: 100px;
  font-family: $main-font;
  font-size: 30px;
  padding: 3%;
  height: 2%;
  width: 28%;
}
