.footer {
  background-color: white;
  height: 15%;
  left: 0;
  bottom: 0;
  position:fixed;
  width: 100%;
  text-align: right;
  font-family: $main-font;
  color: $dark-purple;
  a {
    font-size: 1em;
    color: $dark-purple;
  }
}

.footer-text {
  margin-top: 3vh;
  margin-right: 2vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@media only screen and (max-width: 320px) {
  .footer-text {
    margin-top: 2vh;
  }
}
