@mixin privacy {
    font-size: 1em;
    padding: 0 4%;
    text-align: center;
    font-family: $main-font;
    color: white;
}

.welcome-text {
  text-align: center;
  margin-top: 25vh;
  width: 100%;
}

.welcome {
  @include privacy;
  font-size: 2em;
  padding-bottom: 5%;
}

.privacy-1 {
  @include privacy;
}

.privacy-2 {
  @include privacy;
  margin-top: 2%;
}

.privacy-3 {
  @include privacy;
  margin-top: 2%;
}

@media only screen and (max-width: 320px) {
  .welcome-text {
    margin-top: 17vh;
  }

  .welcome {
    @include privacy;
    font-size: 1.8em;
    padding-bottom: 5%;
  }

  .privacy-1 {
    @include privacy;
    font-size: 1em;
  }

  .privacy-2 {
    @include privacy;
    font-size: 1em;
    margin-top: 2%;
  }

  .privacy-3 {
    @include privacy;
    font-size: 1em;
    margin-top: 2%;
  }
}
