.welcome-text {
  margin-top: 250px;
  text-align:center;
  margin-left:auto;
  margin-right: auto;
  padding-top: 200px;
  position: fixed;
}

.welcome {
  font-size: 40px;
  text-align: center;
  font-family: $main-font;
  color: white;
}

.privacy {
  font-size: 28px;
  text-align: center;
  font-family: $main-font;
  color: white;
}
