.results-page {
  p, h5 {
    color: white;
    padding: 1rem 1rem 0px 1rem !important;
  }
  display: none;
}

.bottom-text {
  margin-bottom: 1rem !important;
}

.survey-results {
  margin-top: 15vh;
}

.results-icons {
  color: white !important;
}

#icon-prefix {
  color: white;
}


.validate {
  color: white;
}
.collapsible-body {
  li {
    color: white;
    padding: 1rem 1rem 0px 1rem;
    font-weight: 900;
  }
}

.bold {
  font-weight: 900;
}

.input-field.col.s6, .input-field.col.s12 {
  padding-left: 0px !important;
}

#form-button {
  margin-left: 33vw !important;
  background-color: $dark-purple!important;
}

.materialize-textarea {
  color: white;
}
